<div class="header">
    <div class="inner-header row">
        <a class="logo item-center" (click)="navigateTo(pathService.weather)">
            <img src="https://img.icons8.com/carbon-copy/50/000000/foggy-night-1.png">
        </a>
        <div class="navigation item-center">
            <nav>
                <ul>
                    <li>
                        <a (click)="navigateTo(pathService.favorites)">Favorite</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>